.title-class{
    text-align: center;
    color: blueviolet;
    font-family: OCR A Std, monospace;
}

.center-para{
    color: blue;
    font-family: OCR A Std, monospace;
  }

.button{
font-size: large;
}

